<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- Suppress noisy websocket internals -->
    <logger name="org.java_websocket" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
</configuration>
